.contentBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17%;
    border: .5px solid #f1f1f1;
    padding: 1rem 1rem;
}
.contentBook a {
    text-decoration: none;
}
.contentBook img
{
    max-height: 180px;
    border-radius: 7px;
    border: solid 1px rgb(231, 231, 231);
}
.contentBook p {
    max-width: 112px;
    text-align: center;
}