.ItemDetail {
    display: flex;
}
.ItemDetailContainerDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    text-align: left;
}
.ItemDetailDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.ItemDetailOptions {
    display: flex;
}
.ItemDetailOptions .containerBotonCount {
    border: 1px solid #d6d6d6;
    margin-right: 0.8rem;
    border-radius: 5px;
}
.ItemDetailContainerDetails p,
.ItemDetailContainerDetails span {
    margin-bottom: 0.3rem;
}
