.itemCartContainer{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}
.itemCartContainer p{
    margin: 0;
}
.itemCartContainer img{
    max-width: 60px;
}

.detailProduct {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 25%;
}
.detailProduct span {
    font-weight: bold;
}
.detailProduct p {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.itemCartContainer .containerBotonCount p {
    margin: 0.8rem;
}
