.itemCartContainer{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}
.itemCartContainer p{
    margin-bottom: 0;
}
.itemCartContainer img{
    max-width: 100px;
}

.detailProduct {
    margin-left: .8rem;
    max-width: 35%;
    text-align: left;
}

.detailProduct p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.itemCartContainer .containerBotonCount p {
    margin: 0.8rem;
}



